.wrap {
  overflow: hidden;
  border: 1px solid #333;
  padding: 10px 0;
  display: flex;
  user-select: none;
}

.internal {
  display: flex;
}

.dataList {
  display: flex;
  gap: 20px;
  padding: 0 10px;
}

.dataItem {
  padding: 10px;
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  white-space: nowrap;

  &:hover {
    background-color: cadetblue;
  }
}

.isRight {
  transform: rotateY(180deg);
}
